Fastnet.EventSystem.Logging/Service References/Metatron/EventRecordingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventRecordingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fastnet.Services.Events" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventRecordingService_WriteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteEvent" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_GetEventsForApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsForApplication" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_GetEventsForApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsForApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_GetAvailableApplications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableApplications" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_GetAvailableApplications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_PurgeEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:PurgeEvents" />
  </wsdl:message>
  <wsdl:message name="IEventRecordingService_PurgeEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurgeEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventRecordingService">
    <wsdl:operation name="WriteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventRecordingService/WriteEvent" message="tns:IEventRecordingService_WriteEvent_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventRecordingService/GetAllEvents" message="tns:IEventRecordingService_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventRecordingService/GetAllEventsResponse" message="tns:IEventRecordingService_GetAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsForApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventRecordingService/GetEventsForApplication" message="tns:IEventRecordingService_GetEventsForApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventRecordingService/GetEventsForApplicationResponse" message="tns:IEventRecordingService_GetEventsForApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableApplications">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventRecordingService/GetAvailableApplications" message="tns:IEventRecordingService_GetAvailableApplications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventRecordingService/GetAvailableApplicationsResponse" message="tns:IEventRecordingService_GetAvailableApplications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurgeEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventRecordingService/PurgeEvents" message="tns:IEventRecordingService_PurgeEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventRecordingService/PurgeEventsResponse" message="tns:IEventRecordingService_PurgeEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventRecordingService" type="tns:IEventRecordingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteEvent">
      <soap:operation soapAction="http://tempuri.org/IEventRecordingService/WriteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/IEventRecordingService/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForApplication">
      <soap:operation soapAction="http://tempuri.org/IEventRecordingService/GetEventsForApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableApplications">
      <soap:operation soapAction="http://tempuri.org/IEventRecordingService/GetAvailableApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PurgeEvents">
      <soap:operation soapAction="http://tempuri.org/IEventRecordingService/PurgeEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventRecordingService">
    <wsdl:port name="BasicHttpBinding_IEventRecordingService" binding="tns:BasicHttpBinding_IEventRecordingService">
      <soap:address location="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>