Fastnet.EventSystem.Logging/Service References/Metatron/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fastnet.Services.Events" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fastnet.Services.Events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/Fastnet.Services.Events/EventRecordingService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="EventData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EventId" type="xs:long" />
          <xs:element minOccurs="0" name="EventSeverity" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EventTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExceptionType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProcessId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ThreadId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventData" nillable="true" type="tns:EventData" />
  <xs:complexType name="ArrayOfEventData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventData" nillable="true" type="tns:EventData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventData" nillable="true" type="tns:ArrayOfEventData" />
</xs:schema>